<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <!--  插值表达式  -->
    <!-- <img src="{{imgUrl}}" alt=""> -->
    <!-- 属性绑定 -->
    <!-- <p [id]='id' [innerHTML]="title"></p> -->
  
  <!-- 循环 -->
  <!-- <ul *ngIf="false">
    <li *ngFor="let item of arr;let i=index">
      {{item}}的索引是{{i}}
    </li>
  </ul> -->
  
  <!-- 条件判断 事件绑定 -->
  <!-- <ul *ngIf="true">
    <li *ngFor="let item of arr;let i=index" (click)="fn()">
      {{item}}的索引是{{i}}
    </li>
  </ul> -->
  
  <!-- ngSwitch指令 -->
  <!-- <input type="radio" (change)="changeFruit('苹果')" value="苹果" name="fruit">苹果
  <input type="radio" (change)="changeFruit('香蕉')" value="香蕉" name="fruit">香蕉
  <input type="radio" (change)="changeFruit('橙子')" value="橙子" name="fruit">橙子
  <div [ngSwitch]="fruit" >
    <div *ngSwitchCase="'苹果'">
      这是一个苹果
    </div>
    <div *ngSwitchCase="'香蕉'">
      这是一个香蕉
    </div>
    <div *ngSwitchCase="'橙子'">
      这是一个橙子
    </div>
  </div> -->
  
  <!-- 双向数据绑定  -->
  <!-- <input type="text" [(ngModel)]="txt">
  {{txt}} -->
  
  <!-- <div>
  <input type="text" [(ngModel)]="data"> <button (click)="add()">添加</button>
  <ul>
    <li *ngFor="let item of dataArr">
        <input type="checkbox" (click)="add()">{{item}} <button>删除</button>
        </li>
  </ul>
  </div>
  </div> -->
  
  <!-- 实现todolist功能 -->
  <app-input (getContent)="getCon($event)" ></app-input>
  <app-list [tolist]="tolist" [doing]="doing"></app-list>
  </div> 
  
  
  <!-- 组件 -->
  <!-- <app-todolist></app-todolist> -->
  
   <!-- <app-banner  [title]="'hello'"  [arrData]="arr"  (getIndex)="getI($event)"> -->
     <!-- <p class="box">这是一个段落</p>
   </app-banner> 
   <h1>{{idx}}</h1> -->
   <!-- <button (click)="click()">click</button>
   <h1>{{index}}</h1> -->
  
  <!-- 组件交互 -->
  <!-- 父组件到子组件 -->
   <!-- <app-goodslist [list]="arr1"></app-goodslist>   -->
  <!--<app-goodslist [list]="goodslist"></app-goodslist> -->
  <!-- 父组件到子组件 -->
  <!-- <div class="box">
    <h2>你同意五一放七天假吗</h2>
    <h3>Agree: {{agreed}}, Disagree: {{disagreed}}</h3>
    <app-voter *ngFor="let voter of voters" [name]="voter" (onVoted)="onVoted($event)">
    </app-voter>
  </div> -->
  
  
  
  